h1{
  text-align: center;
  border-style: solid;
  background-color: #c7b198;
}
h2{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
body{
  background-color: #f0ece2;
}

table, th, td{
  border:3px solid black;
}

table{
  background-color: white;
}

img{
  width: 350px;
  height: 350px;
}

nav{
 width: 250px;
 height: 250px;
 background-color: #dfd3c3;
 border-style: solid;
 border-color: black;
}

a{
  background-color: #c7b198;
  border-style: solid;
  border-color: black;
  line-height: 65px;
}

a.back{
  background-color: #c7b198;
  border-style: solid;
  border-color: black;
}
